  #carousel-area .carousel-item .carousel-caption h3 {
    font-size: 22px;
  }
  #carousel-area .carousel-item .carousel-caption h2 {
    font-size: 50px;
  }
@media (min-width: 768px) and (max-width: 1024px) {
  .section-header .section-title {
    font-size: 22px;
  }
  #hero-area .contents {
    padding: 148px 0 48px;
  }
  #hero-area .contents h1 {
    font-size: 26px;
  }
  .intro-img {
    padding: 130px 0;
  }
  #video-area .contents h1 {
    font-size: 32px;
    line-height: 48px;
  }
  .contents .head-title {
    font-size: 24px !important;
  }
  .contents h4 {
    font-size: 22px;
    line-height: 38px;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 12px 5px;
    font-size: 13px;
    margin-left: 15px;
  }
  .mainmenu-area .menu-button {
    line-height: 46px;
  }
  .item-boxes h4 {
    font-size: 16px;
  }
  #carousel-area .carousel-item .carousel-caption {
    top: 35%;
  }
  #carousel-area .carousel-item .carousel-caption h3 {
    font-size: 22px;
  }
  #carousel-area .carousel-item .carousel-caption h2 {
    font-size: 30px;
  }
  .call-action .cta-trial h3 {
    font-size: 18px;
  }
  #features .box-item .text h4 {
    font-size: 12px;
  }
  #features .box-item .icon {
    width: 48px;
    height: 48px;
    margin: 5px 0;
  }
  #features .box-item .icon i {
    line-height: 48px;
  }
  #features .content-left .text {
    margin-right: 60px;
  }
  #features .content-right .text {
    margin-left: 60px;
  }
  #cta h5 {
    font-size: 18px;
  }
  #cta .btn {
    margin: 22px 5px;
  }
  .single-team {
    margin-bottom: 30px;
  }
  .counters .facts-item {
    margin-bottom: 30px;
  }
  .subscribe-form {
    margin-bottom: 30px;
  }
  .subscribe-form .sub-title h3 {
    font-size: 22px;
  }
  .pricing-table .pricing-details ul li {
    font-size: 13px;
  }
  #blog .blog-item-wrapper {
    margin-bottom: 30px;
  }
  #blog .blog-item-text h3 {
    font-size: 14px;
  }
  .footer-social li {
    margin-right: 2px;
  }
  .widget {
    margin-top: 30px;
  }
}



@media (min-width: 320px) and (max-width: 480px) {
.col-8 {
 width: 1%;
        float: left;
}
 .carousel-item img{
    background-position: center;
  background-repeat: no-repeat;
  background-size:100% 100%;
    position:center;
    max-width:100%;
    columns:50em;
    height:18em;
    padding-bottom:2em; 
  }

  #carousel-area .carousel-item .carousel-caption h3 {
    font-size: 13px;
  }
  #carousel-area .carousel-item .carousel-caption h2 {
    font-size: 30px;
  }
  #carousel-area .carousel-item .carousel-caption h4 {
    font-size: 14px;
  }
  #carousel-area .carousel-item .carousel-caption .btn {
    margin: 8px 5px;
    padding: 7px 16px;
    text-transform: capitalize;
    font-size: 14px;
  }
  #carousel-area .carousel-control-next i, #carousel-area .carousel-control-prev i {
    background: transparent !important;
  }
  #carousel-area .carousel-control-next i:hover, #carousel-area .carousel-control-prev i:hover {
    background: transparent !important;
    border: none !important;
  }
  .call-action .cta-trial h3 {
    font-size: 14px;
    line-height: 22px;
  }
  .text-right {
    text-align: left !important;
  }
  #features .box-item {
    text-align: center;
  }
  #video-area .contents {
    padding: 80px 0 60px;
  }
  #video-area .contents h1 {
    font-size: 18px;
    line-height: 32px;
  }
  .video-promo .video-promo-content h2 {
    font-size: 18px;
  }
  .controls .btn {
    font-size: 12px;
    text-transform: capitalize;
  }
  #cta h5 {
    font-size: 18px;
    line-height: 30px;
  }
  #cta .btn {
    margin: 10px 0;
  }
  .single-team {
    margin-bottom: 30px;
  }
  .pricing-tables .pricing-table {
    margin-bottom: 30px;
  }
  .subscribe-form {
    margin-bottom: 30px;
  }
  .subscribe-form .sub-title h3 {
    font-size: 20px;
  }
  .subscribe-form .form-wrapper {
    padding: 30px 20px;
  }
  #subscribe .sub-item-box .text-box h4 {
    font-size: 15px;
  }
  #blog .blog-item-wrapper {
    margin-bottom: 30px;
  }
  #blog .blog-item-text h3 {
    font-size: 18px;
  }
  #blog .blog-item-text .meta-tags span {
    margin-right: 5px;
  }
  .counters .facts-item {
    margin-bottom: 30px;
  }
  #contact .section-title {
    font-size: 22px;
  }
  .social-icons ul li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-left: 0px;
  }
  #blog-single .blog-post .post-content {
    padding: 15px;
  }
  #blog-single .blog-post .post-content h3 {
    font-size: 15px;
  }
  .blog-comment .comment-author {
    margin-bottom: 40px;
  }
  .blog-comment .comment-list .children {
    padding-left: 0;
  }
  .post-meta ul li {
    line-height: 28px;
  }
  .widget {
    margin-top: 30px;
  }
  #about-area .about-thumb-2 {
    top: 64%;
  }
  .contact-deatils {
    margin-top: 30px;
  }
  #copyright p {
    line-height: 24px;
    font-size: 11px;
  }
  #copyright .nav-inline .nav-link {
    padding: 8px 0;
    font-size: 11px;
  }
  .float-right {
    float: left !important;
  }
}
